.cart-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
}
.cart-content .box {
    border: 2px solid #eee;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
}
.cart-content .box:hover {
    transform: translateY(-10px);
}
.cart-content .box .img {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.cart-content .box .img img {
    width: 100%;
}
.cart-content .box h4 {
    font-size: 20px;
}
@media (max-width: 768px) {
    .cart-content .box {
        align-items: center;
        padding: 10px 0;
        text-align: center;
        cursor: pointer;
    }
    .cart-content .box .img {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}